<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
	
	<!-- Weighing balance -->
	<bean name="balanceGF1200" class="org.iita.inventory.balance.TCPBalance">
		<property name="name" value="GF-1200 on GRU-LABEL" />
		<property name="driver" value="org.iita.inventory.balance.ANDGFBalance" />
		<!-- <property name="host" value="${balance.host}" />
		<property name="port" value="${balance.port}" /> -->
	</bean>
	<bean name="balanceGibertiniC" class="org.iita.inventory.balance.TCPBalance">
		<property name="name" value="Gibertini Europa C-7500 on GRU-LABEL" />
		<property name="driver" value="org.iita.inventory.balance.GibertiniEuropeC" />
		<!-- <property name="host" value="${balance.host}" />
		<property name="port" value="${balance.port}" /> -->
	</bean>
	
	<bean name="balanceService" class="org.iita.inventory.service.impl.BalanceServiceImpl" scope="request">
		<property name="balance" ref="balanceGibertiniC" />
	</bean>
	<!-- 
	<bean name="balanceGibertiniC7500" class="org.iita.inventory.balance.TCPSerialBalance">
		<property name="name" value="Gibertini Europa C-7500PT on GRU-LABEL" />
		<property name="driver" value="org.iita.inventory.balance.GibertiniEuropeC" />
		<property name="host" value="${balance.host}" />
		<property name="port" value="${balance.port}" />
	</bean>
	
	<bean name="balanceScaleService" class="org.iita.inventory.service.impl.BalanceServiceImpl" scope="request">
		<property name="balance" ref="balanceGibertiniC7500" />
	</bean> -->
</beans>