<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">

	<bean id="openSessionInView" class="org.iita.cron.OpenSessionInView">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>

	<!-- Use AspectJ to wrap QuartzJobs with an open entity manager session -->
	<aop:config>
		<aop:aspect ref="openSessionInView">
			<!-- Monday email wrapper -->
			<aop:before method="open" pointcut="execution(* org.iita.cron.QuartzJob.executeQuartz(..))" />
			<aop:after method="close" pointcut="execution(* org.iita.cron.QuartzJob.executeQuartz(..))" />
		</aop:aspect>
	</aop:config>

	<!-- Setup scheduler factory -->
	<bean id="applicationScheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">

	</bean>

	<bean id="adminScheduleAction" class="org.iita.struts.action.admin.SchedulerAction" scope="request">
		<property name="scheduler" ref="applicationScheduler" />
	</bean>
</beans>